:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-size: var(--fuente-principal);
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.titulo span {
    font-size: 2rem;
}